/* -------------------------------- 

Smoke Ring

-------------------------------- */ 
body::after {
    content: "";
    display: block;
    position: absolute;
    border:10px solid $color-darkest;
    border-radius: 50%;
    width:40px;
    height:25px;
    background-color: transparent;
    top:350px;
    left: 205px;
    -webkit-animation: animateSmoke 6s linear 10;
    animation: animateSmoke 6s linear 10;
    animation-delay: 2.5s;

    @include MQ(M){
      top:420px;
      left: 275px;
    }
    @include MQ(L){
      top:520px;
      left:329px;
    }


  }
  /* -------------------------------- 
  
  Smoke Circle
  
  -------------------------------- */
    body::before {
      content: "";
      display: block;
      position: absolute;
      border-radius: 50%;
      width:40px;
      height:40px;
      background-color: $color-darkest;
      top:350px;
      left:205px;
      -webkit-animation: animateSmoke 6s linear 10;
      animation: animateSmoke 6s linear 10;


    @include MQ(M){
      top:420px;
      left: 275px;
    }
    @include MQ(L){
      top:520px;
      left:329px;
    }

    }
    @-webkit-keyframes animateSmoke {
      100% {
        transform: translate(100px, -500px) scale(3.5);
        opacity: 0;
        filter: blur(5px);
      }
      0% {
        transform: translate(0,0) scale(1);
        opacity: 1;
        filter: blur(5px)
      }
  
    }  
    @keyframes animateSmoke {
      100% {
        transform: translate(100px, -500px) scale(3.5);
        opacity: 0;
        filter: blur(5px);
      }
      0% {
        transform: translate(0,0) scale(1);
        opacity: 1;
        filter: blur(5px)
      }
   
    }
  
 /* -------------------------------- 

Foot Prints

-------------------------------- */    
.explanation, .benefits{
  position: relative;
  overflow: hidden;
  background-image: 
  url(assets/foot-print-02.svg), 
  url(assets/foot-print-01.svg);
  background-position: 
  bottom 15px right 10px,
  bottom 20px right 0px;
  background-size: 40px;
  background-repeat: no-repeat;


}

.explanation::before, .benefits::before {
  content: ""url(assets/foot-print-02.svg);
  display: block;
  position: absolute;
  opacity: 0;
  width:40px;
  height:25px;
  bottom:15px;
  left: 10px;
  -webkit-animation: moveFeet 10s linear 10, fadeFeet 2s 50;
  animation: moveFeet 10s linear 10, fadeFeet 2s 50;
  
}

.explanation::after, .benefits::after{
  content: ""url(assets/foot-print-01.svg);
  display: block;
  position: absolute;
  opacity: 0;
  width:40px;
  height:25px;
  bottom:20px;
  left: 20px;
  -webkit-animation: moveFeet 10s linear 10, fadeFeet 2s 50;
  animation: moveFeet 10s linear 10, fadeFeet 2s 50;
  animation-delay:1s;

}

@-webkit-keyframes moveFeet {
  100% {
    transform: translate(0,-500px);

  }
  0% {
    transform: translate(0,0);

  }

}  
@keyframes moveFeet {
  100% {
    transform: translate(0,-500px);

  }
  0% {
    transform: translate(0,0);
 
  }

}

@-webkit-keyframes fadeFeet {
  100% {
    opacity: 0;
    filter: blur(2px);

  }
  0% {
    opacity: 1;
    filter: blur(1px);

  }

}  
@keyframes fadeFeet {
  100% {
    opacity: 0;
    filter: blur(2px);
  }
  0% {
    opacity: 1;
    filter: blur(1px);

  }

}
