
/* -------------------------------- 

Body Styling

-------------------------------- */

body {

    /* this is the page background*/
    background:
    url(assets/sherlock.svg);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: $sherlock-width $sherlock-height;

    @include MQ(M){
      background-size: 320px;
    }

    @include MQ(L){
      background-size: 390px;
    }
    
}
