/* -------------------------------- 

Body Styling

-------------------------------- */
body {
    /* this is the page background */
    background: url(assets/sherlock.svg) no-repeat;
    background-size: 30%;
    background-position: 0 13rem;
  }