
/* -------------------------------- 

Body Styling

-------------------------------- */

body {
    /* this is the page background*/
    background:
    url(assets/sherlock.svg);
    background-repeat: no-repeat;
    background-size: 390px;
    background-position: $sherlock-width $sherlock-height;
}
