/* -------------------------------- 

Containers

-------------------------------- */
/*//container.scss
// class names of the containers on the page.
//'*' contains other containers. '**' contains all other containers. 
//page-wrapper**
//intro*
//summary
//preamble
//main*
//explanation
//participation
//benefits
//requirements
//wrapper*
//design-selection 
//design-archives
//zen-resources*/


// Main page container
.page-wrapper{
  display:flex;
  flex-flow: row wrap;
}

  .intro,.preamble, .participation,.benefits,.requirements{
    margin:4em 0 1em 0;
    width:100%;
  }
  .intro{
   margin-top:4em;
  }
 .summary{
    margin: 5% 2% 2% 60% ;
    width: 40%;
    text-align:right;
     line-height: normal;
// media queries to adjust alignment
    @include MQ(M){
        margin: 5% 2% 2% 45% ;
        width: 55%;
    }

    @include MQ(L){
      margin: 5% 2% 2% 40% ;
      width: 60%;
    }

   a{
    display:block;
  }

  p:nth-child(2){
    margin-top:2%;
  } 
 }

 .preamble{
   text-align: right;
   margin:10rem 0 1rem 0; 

   @include MQ(M){
    margin: 5% 2% 2% 45% ;
    width: 55%;
}
  @include MQ(L){
    margin: 5% 2% 2% 40% ;
    width: 60%;
}
   p{
    margin: 1em 0; 
   }
 } 
/* -------------------------------- 

note mixins and variables are in the variables partial

-------------------------------- */
// Layout for the bottom half of page 
.main-supporting{
  display:flex;
  flex-flow: row wrap;
}
  .explanation, .benefits{
    background-color:$color-light;
    width:100%;
    padding: 1rem;

    @include MQ(L){
      margin-top: 5% ;
    }

   h3, p{
    width:70%;
    margin:1em auto;
   }

  }
  
    // //mixins
    // @mixin col($span-num) {
    //  flex: 0 0 $one-column * $span-num;
    // }
  
    // @mixin offset($offset-num) {
    //  margin-left: $one-column * $offset-num;

  .participation, .requirements{
    @include MQ(L){
      @include col(2);
      text-align: left;
    }

    padding-left:2%;
    p{
      margin:1em 0;
    }
  }
  .benefits{
    @include MQ(L){
      @include col(2);
      @include offset(1);
      text-align: right;
    }
  }

  .requirements{
    p:nth-child(6){
      @include MQ(L){
        width:100%;
      }
      width:55%;
      margin:3em auto;
      background-color:$color-light;
      padding: 1rem;
    }
  }
  footer{
 
    @include col(3);
    display:flex;
    flex-flow: row;
      
      a{
        flex:0 0 20%;
        margin: 0 auto;
        text-align: center;
      }

  }
  .zen-resources{
    margin:1em 2%;
    
    ul {
      display:flex;
      flex-direction:row;
      text-align:center;
     } 
    li:nth-child(odd){
      margin: 2em 2em 0 0;
      
    }
    li:nth-child(even){
      margin:8em 2em 0 0;
    }
    @include MQ(L){
      ul{
        font-size:1.2em;
        li:nth-child(odd){
          margin:2em 5em 0 0;
          width:10vw;
        }
        li:nth-child(even){
          margin: 5em 5em 0 0;
        }
      }
    }
  }
  
