/* -------------------------------- 

Containers

-------------------------------- */
/*//container.scss
// class names of the containers on the page.
//'*' contains other containers. '**' contains all other containers. 
//page-wrapper**
//intro*
//summary
//preamble
//main*
//explanation
//participation
//benefits
//requirements
//wrapper*
//design-selection 
//design-archives
//zen-resources*/


// Main page container
.page-wrapper{
  display:flex;
  flex-flow: row wrap;
}

  .intro,.preamble, .participation,.benefits,.requirements{
    margin:4em 0 0 0;
    width:100%;
  }
  .intro{
   margin-top:4em;
  }
 .summary{
    margin: 5% 2% 2% 60% ;
    width: 40%;
    text-align:right;
    line-height: normal;
// media queries to adjust alignment
    @include MQ(M){
        margin: 5% 2% 2% 45% ;
        width: 55%;
    }

    @include MQ(L){
      margin: 5% 2% 2% 40% ;
      width: 60%;
    }

   a{
    display:block;
  }

  p:nth-child(2){
    margin-top:2%;
  } 
 }

 .preamble{
   margin:10rem 0 1rem 0; 

   @include MQ(M){
    margin: 5% 2% 2% 45% ;
    width: 55%;
}

  @include MQ(L){
    margin: 5% 2% 2% 50% ;
    width: 45%;
}
  @include MQ(XL){
    margin: 5% 2% 2% 40% ;
    width: 60%;
}
   p{
    margin: 1em 0; 
   }
 } 
/* -------------------------------- 

note mixins and variables are in the variables partial

-------------------------------- */
// Layout for the bottom half of page 
.main-supporting{
  display:flex;
  flex-flow: row wrap;
}
  .explanation, .benefits{
    background-color:$color-light;
    width:100%;
    padding: 1rem;
    border-radius: 5px;

    @include MQ(L){
      margin-top: 5% ;
    }

   h3, p{
    width:70%;
    margin:1em auto;
   }

  }
.participation::before{
  content: ""url(assets/bullet-hole-03.svg);
  float:right;
  margin:2%;
  width:30%;
  shape-outside: circle();

  @include MQ(M){
    content: ""url(assets/bullet-hole-multi-03.svg);
  }
}  

  .participation, .requirements{
    padding-right: 2%;
    padding-left:2%;
    p{
      margin:1em 0;
    }
  }
  .benefits{
    @include MQ(L){
    }
  }

  .requirements{
    p:nth-child(6){
      @include MQ(L){
        width:100%;
      }
      text-align: center;
      width:55%;
      margin:3em auto 1em auto;
      background-color:$color-light;
      padding: 1rem;
      border-radius: 5px;
    }
  }
  .requirements::before{
    content: ""url(assets/bullet-hole-04.svg);
    
    float:left;
    margin:2%;
    width:30%;
    shape-outside: ellipse();
  } 
  footer{
    @include col(3);
    display:flex;
    flex-flow: row;
    justify-content: space-evenly;
      
    a{
      flex: 1 1 auto;
    }

    }

.sidebar{
  width:100%;
}    
.design-selection{
  text-align: center;
  display:flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  padding: 1rem;
  background-color: $color-accent;
  margin: 1rem 0;
  border-radius: 5px;
  
  ul{
    @include MQ(M){
      display: flex;
      flex-flow: row;
      justify-content: space-around;
    }
  }
  }
  
  .design-archives{
    text-align: center;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    width:100%;
    padding:1rem 1rem 3rem 1rem;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0 ,0.01), rgba(0, 0, 0,0.3));
    background-color:$color-accent;
    border-radius: 5px;
    

    ul{
      display:flex;
      flex-direction: row wrap;
      text-align: center;
      justify-content: space-evenly;

      li{
        flex:1 1 auto;
        margin: 0 auto;
        padding: 1rem;

        a{ 
          text-align: center;
          padding:1rem;
          border-radius: 10px;
          color:$color-light;
          transition: 0.5s;
        }
        a:hover{
          background-color:$color-light;
          color: $color-accent;
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
        }


      }
    }
  }
  
  .zen-resources{
    text-align: center;
    width:70%;
    margin:1em auto;
    h3{
      margin-bottom:2em;
    }
    
    ul {
      position:relative;
      left:3%;
      overflow: none;
      width:90%;
      display:flex;
      flex-direction:row;
      justify-content:space-evenly;
      text-align:center;
      margin:0 auto;
      li{
        a{
          color:$color-accent;
          abbr{
            text-decoration:none;
          }
        }
      }
     } 
    li:nth-child(odd){
      margin: 2em 2em 0 0;
      
    }
    li:nth-child(even){
      margin:8em 2em 0 0;
    }
    @include MQ(L){
      ul{
        font-size:1.2em;
        left:5%;
        li:nth-child(odd){
          margin:2em 5em 0 0;
          width:11vw;
        }
        li:nth-child(even){
          margin: 5em 5em 0 0;
        }
      }
    }
  }
  .view-css::after,.zen-faq::after,
 .zen-translations::after{
 content:""url(assets/magnifying_glass.png);
 display:block;
 position:relative;
 margin:1em 0;
 width:10px;
 right:2em;
 @include MQ(XL){
   right:1em;
   left:.3em;
 }
 @include MQ(M){
   right:2em;
 }
} 
.css-resources::after, .zen-submit::after{
  content:""url(assets/magnifying_glass.png);
 display:block;
 position:absolute;
 top:-.3em;
 @include MQ(L){
   
 }
} 
