/* -------------------------------- 

footer

-------------------------------- */ 
footer{
    margin-bottom: 1rem;
    width: 100%;

    a {
        background-color: $color-light;
        border-radius: 10px;
        color:$color-darkest;
        padding:1rem;
        margin: 1rem;
        text-align: center;
        @include transition(0.5s);
    }

        a:hover{
            background-color:$color-accent;
            color: $color-light;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
          }
  
    
}
