
/* -------------------------------- 

Sherlock and smoke variables

-------------------------------- */
$sherlock-width: -1px;
$sherlock-height:70px;
$ring-width: $sherlock-width + 330px;
$ring-height: $sherlock-height + 450px;
