/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*reset.scss*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end reset.scss*/
/* -------------------------------- 

Sherlock and smoke variables

-------------------------------- */
/* -------------------------------- 

3 cloumn grid layout

-------------------------------- */
/* -------------------------------- 

12 cloumn grid layout

-------------------------------- */
/* -------------------------------- 

Colors

-------------------------------- */
/* -------------------------------- 

Fonts

-------------------------------- */
/* -------------------------------- 

Header

-------------------------------- */
header {
  background-color: transparent;
  margin-bottom: 6em;
}
header h1 {
  text-align: right;
  font-size: 8rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.4em;
}
header h2 {
  text-align: right;
}

/* -------------------------------- 

Body Styling

-------------------------------- */
body {
  /* this is the page background*/
  background: url(assets/sherlock.svg);
  background-repeat: no-repeat;
  background-size: 250px;
  background-position: -1px 70px;
}
@media only screen and (min-width: 46.8em) {
  body {
    background-size: 320px;
  }
}
@media only screen and (min-width: 50em) {
  body {
    background-size: 390px;
  }
}

/* -------------------------------- 

Navigation 

-------------------------------- */
/* -------------------------------- 

Styling for the design selection section (bookshelf)

-------------------------------- */
.design-selection h3 {
  font-size: 2rem;
  padding: 1rem;
}

.design-selection nav {
  /* main navigation background color - full screen on small devices */
  border: 20px solid;
  border-image: url(assets/wood-01.svg) 25 25 round;
  padding-top: 1rem;
  margin-bottom: 2rem;
  background-image: linear-gradient(to bottom, rgba(95, 57, 22, 0.7), rgba(31, 17, 11, 0.7)), url("assets/wood-01.svg");
  background-repeat: repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 16px 9px 23px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 0px 16px 9px 23px rgba(0, 0, 0, 0);
  width: 100%;
}
.design-selection nav li {
  transition: all 0.2s ease-in-out;
}
.design-selection nav li:hover {
  transform: scale(1.1);
  border-radius: 5px;
}
.design-selection nav li:nth-child(1) {
  margin: 0 1px 0 0;
  padding: 3rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05) 30%, rgba(0, 0, 0, 0.5) 85%);
  background-color: #cf7e50;
}
@media only screen and (min-width: 46.8em) {
  .design-selection nav li:nth-child(1) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
    writing-mode: vertical-rl;
    padding: 2rem;
  }
}
.design-selection nav li:nth-child(2) {
  margin: 0 1px 0 0;
  padding: 3rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05) 30%, rgba(0, 0, 0, 0.5) 85%);
  background-color: #b66440;
}
@media only screen and (min-width: 46.8em) {
  .design-selection nav li:nth-child(2) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
    writing-mode: vertical-rl;
    padding: 2rem;
  }
}
.design-selection nav li:nth-child(3) {
  margin: 0 1px 0 0;
  padding: 3rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05) 30%, rgba(0, 0, 0, 0.5) 85%);
  background-color: #bc0115;
}
@media only screen and (min-width: 46.8em) {
  .design-selection nav li:nth-child(3) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
    writing-mode: vertical-rl;
    padding: 2rem;
  }
}
.design-selection nav li:nth-child(4) {
  margin: 0 1px 0 0;
  padding: 3rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05) 30%, rgba(0, 0, 0, 0.5) 85%);
  background-color: #5F3916;
}
@media only screen and (min-width: 46.8em) {
  .design-selection nav li:nth-child(4) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
    writing-mode: vertical-rl;
    padding: 2rem;
  }
}
.design-selection nav li:nth-child(5) {
  margin: 0 1px 0 0;
  padding: 3rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05) 30%, rgba(0, 0, 0, 0.5) 85%);
  background-color: #cf7e50;
}
.design-selection nav li:nth-child(5) a {
  color: #1f110b;
}
@media only screen and (min-width: 46.8em) {
  .design-selection nav li:nth-child(5) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
    writing-mode: vertical-rl;
    padding: 2rem;
  }
}
.design-selection nav li:nth-child(6) {
  margin: 0 1px 0 0;
  padding: 3rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05) 30%, rgba(0, 0, 0, 0.5) 85%);
  background-color: #904f33;
}
@media only screen and (min-width: 46.8em) {
  .design-selection nav li:nth-child(6) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
    writing-mode: vertical-rl;
    padding: 2rem;
  }
}
.design-selection nav li:nth-child(7) {
  margin: 0 1px 0 0;
  padding: 3rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05) 30%, rgba(0, 0, 0, 0.5) 85%);
  background-color: #a20112;
}
@media only screen and (min-width: 46.8em) {
  .design-selection nav li:nth-child(7) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
    writing-mode: vertical-rl;
    padding: 2rem;
  }
}
.design-selection nav li:nth-child(8) {
  margin: 0 1px 0 0;
  padding: 3rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05) 30%, rgba(0, 0, 0, 0.5) 85%);
  background-color: #cf7e50;
}
@media only screen and (min-width: 46.8em) {
  .design-selection nav li:nth-child(8) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
    writing-mode: vertical-rl;
    padding: 2rem;
  }
}
.design-selection nav li a {
  color: #C7B299;
  border-color: #1f110b;
}
@media only screen and (min-width: 46.8em) {
  .design-selection nav li a {
    color: #C7B299;
  }
  .design-selection nav li a.selected {
    color: #5F3916;
    box-shadow: 0 2px 0 #1f110b;
  }
}

/* -------------------------------- 

Background and Spacing for bookshelf

-------------------------------- */
.design-selection {
  width: 100%;
}

.design-selection ul::before {
  content: "";
  flex: 1 0 16.6666666667%;
}

.design-selection ul::after {
  content: "";
  flex: 1 0 16.6666666667%;
}

/* -------------------------------- 

Containers

-------------------------------- */
/*//container.scss
// class names of the containers on the page.
//'*' contains other containers. '**' contains all other containers. 
//page-wrapper**
//intro*
//summary
//preamble
//main*
//explanation
//participation
//benefits
//requirements
//wrapper*
//design-selection 
//design-archives
//zen-resources*/
.page-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.intro, .preamble, .participation, .benefits, .requirements {
  margin: 4em 0 1em 0;
  width: 100%;
}

.intro {
  margin-top: 4em;
}

.summary {
  margin: 5% 2% 2% 60%;
  width: 40%;
  text-align: right;
  line-height: normal;
}
@media only screen and (min-width: 46.8em) {
  .summary {
    margin: 5% 2% 2% 45%;
    width: 55%;
  }
}
@media only screen and (min-width: 50em) {
  .summary {
    margin: 5% 2% 2% 40%;
    width: 60%;
  }
}
.summary a {
  display: block;
}
.summary p:nth-child(2) {
  margin-top: 2%;
}

.preamble {
  margin: 10rem 0 1rem 0;
}
@media only screen and (min-width: 46.8em) {
  .preamble {
    margin: 5% 2% 2% 45%;
    width: 55%;
  }
}
@media only screen and (min-width: 50em) {
  .preamble {
    margin: 5% 2% 2% 50%;
    width: 45%;
  }
}
@media only screen and (min-width: 73em) {
  .preamble {
    margin: 5% 2% 2% 40%;
    width: 60%;
  }
}
.preamble p {
  margin: 1em 0;
}

/* -------------------------------- 

note mixins and variables are in the variables partial

-------------------------------- */
.main-supporting {
  display: flex;
  flex-flow: row wrap;
}

.explanation, .benefits {
  background-color: #C7B299;
  width: 100%;
  padding: 1rem;
}
@media only screen and (min-width: 50em) {
  .explanation, .benefits {
    margin-top: 5%;
  }
}
.explanation h3, .explanation p, .benefits h3, .benefits p {
  width: 70%;
  margin: 1em auto;
}

.participation::before {
  content: "" url(assets/bullet-hole-03.svg);
  float: right;
  margin: 2%;
  width: 40%;
  clip-path: circle();
  shape-outside: circle();
}

.participation, .requirements {
  padding-left: 2%;
}
@media only screen and (min-width: 50em) {
  .participation, .requirements {
    text-align: left;
  }
}
.participation p, .requirements p {
  margin: 1em 0;
}

.requirements p:nth-child(6) {
  width: 55%;
  margin: 3em auto;
  background-color: #C7B299;
  padding: 1rem;
}
@media only screen and (min-width: 50em) {
  .requirements p:nth-child(6) {
    width: 100%;
  }
}

.requirements::before {
  content: "" url(assets/bullet-hole-05.svg);
  float: right;
  margin: 2%;
  width: 40%;
  clip-path: circle();
  shape-outside: circle();
}

footer {
  flex: 0 0 100%;
  display: flex;
  flex-flow: row;
}
footer a {
  flex: 0 0 20%;
  margin: 0 auto;
  text-align: center;
}

.sidebar {
  width: 100%;
}

.design-selection {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
}
@media only screen and (min-width: 46.8em) {
  .design-selection ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
}

.design-archives {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  width: 100%;
}
.design-archives ul {
  display: flex;
  flex-direction: row wrap;
  text-align: center;
  justify-content: space-between;
}
.design-archives ul li {
  flex: 0 0 50%;
  margin: 0 auto;
  text-align: center;
}

.zen-resources {
  text-align: center;
  width: 70%;
  margin: 2em auto;
}
.zen-resources h3 {
  margin-bottom: 2em;
}
.zen-resources ul {
  position: relative;
  left: 3%;
  overflow: none;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin: 0 auto;
}
.zen-resources ul li a {
  color: #89010F;
}
.zen-resources ul li a abbr {
  text-decoration: none;
}
.zen-resources li:nth-child(odd) {
  margin: 2em 2em 0 0;
}
.zen-resources li:nth-child(even) {
  margin: 8em 2em 0 0;
}
@media only screen and (min-width: 50em) {
  .zen-resources ul {
    font-size: 1.2em;
    left: 5%;
  }
  .zen-resources ul li:nth-child(odd) {
    margin: 2em 5em 0 0;
    width: 11vw;
  }
  .zen-resources ul li:nth-child(even) {
    margin: 5em 5em 0 0;
  }
}

.view-css::after, .zen-faq::after,
.zen-translations::after {
  content: "" url(assets/magnifying_glass.png);
  display: block;
  position: relative;
  margin: 1em 0;
  width: 10px;
  right: 2em;
}
@media only screen and (min-width: 73em) {
  .view-css::after, .zen-faq::after,
.zen-translations::after {
    right: 1em;
    left: 0.3em;
  }
}
@media only screen and (min-width: 46.8em) {
  .view-css::after, .zen-faq::after,
.zen-translations::after {
    right: 2em;
  }
}

.css-resources::after, .zen-submit::after {
  content: "" url(assets/magnifying_glass.png);
  display: block;
  position: absolute;
  top: -0.3em;
}
/* -------------------------------- 

xPage title 

-------------------------------- */
main > h1 {
  color: #1f110b;
}
@media only screen and (min-width: 50em) {
  main > h1 {
    /* title goes into the header on big devices */
    color: #1f110b;
  }
}

/* -------------------------------- 

xTypography 

-------------------------------- */
h1,
h2 {
  font-family: "Jim Nightshade", cursive;
  color: #89010F;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.4em;
}
@media only screen and (min-width: 24em) {
  h1 {
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 46.8em) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-weight: 250;
  text-transform: uppercase;
  margin: 1em 0;
}
@media only screen and (min-width: 24em) {
  h2 {
    font-size: 2.5rem;
    margin: 1em 0 1.4em;
  }
}

h3 {
  font-family: "Jim Nightshade", cursive;
  font-size: 3rem;
  font-weight: 250;
  text-decoration: none;
  color: #89010F;
}

section > h2::before {
  /* number before each section title */
  color: #1f110b;
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #1f110b;
}
p a {
  color: #1f110b;
  text-decoration: none;
}
p a:hover {
  font-size: 1.5em;
  color: #89010F;
}
@media only screen and (min-width: 24em) {
  p {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

/* -------------------------------- 

xBasic style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Didact Gothic", sans-serif;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
@media only screen and (min-width: 46.8em) {
  body {
    padding: 2rem;
  }
}

a {
  text-decoration: none;
}

header {
  width: 100%;
}
header nav {
  display: inline-block;
}
@media only screen and (min-width: 46.8em) {
  header {
    height: 80px;
  }
  header::after {
    clear: both;
    content: "";
    display: block;
  }
}

.cd-nav-trigger {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
}
.cd-nav-trigger span {
  position: absolute;
  height: 2px;
  width: 20px;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  -webkit-transition: background-color 0.3s 0.3s;
  -moz-transition: background-color 0.3s 0.3s;
  transition: background-color 0.3s 0.3s;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  -webkit-transition: transform 0.3s 0.3s;
  -moz-transition: transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
}
.cd-nav-trigger span::before {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.cd-nav-trigger span::after {
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
@media only screen and (min-width: 46.8em) {
  .cd-nav-trigger {
    display: none;
  }
}

.cd-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 50px 0;
  text-align: center;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  transition: transform 0.3s;
}
.cd-main-nav li a {
  display: block;
  font-size: 1.8rem;
  padding: 1em 0;
  border-bottom-width: 1px;
  border-style: solid;
}
.cd-main-nav li:first-of-type a {
  border-top-width: 1px;
}
@media only screen and (min-width: 46.8em) {
  .cd-main-nav {
    position: static;
    display: table;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    width: auto;
    height: 80px;
    background: transparent;
    padding: 0 2em;
    text-align: left;
  }
  .cd-main-nav li {
    display: table-cell;
    vertical-align: middle;
    padding: 0 1em;
  }
  .cd-main-nav li a {
    display: inline-block;
    font-size: 1.6rem;
    padding: 0.4em 0.2em;
    border-bottom: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  .cd-main-nav li:first-of-type a {
    border-top: none;
  }
}
@media only screen and (min-width: 50em) {
  .cd-main-nav {
    display: none;
  }
}

.cd-primary-nav {
  width: 90%;
  margin: 0 auto;
}
.cd-primary-nav li a {
  display: block;
  height: 5em;
  text-align: center;
  padding-top: 2.2em;
}
.cd-primary-nav li:first-of-type a {
  margin-top: 2%;
}

.nav-is-visible .cd-nav-trigger span::before {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}
.nav-is-visible .cd-nav-trigger span::after {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.nav-is-visible .cd-main-nav {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-download {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80px;
  background-image: url("../assets/icon-download.svg");
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-download span {
  /* tooltip */
  position: absolute;
  right: 120%;
  top: 50%;
  margin-top: -20px;
  width: 140px;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  text-align: center;
  font-size: 1.2rem;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
.cd-download span::before {
  /* right arrow */
  content: "";
  position: absolute;
  top: 12px;
  left: 100%;
  height: 0;
  width: 0;
  border-width: 8px;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.no-touch .cd-download:hover span {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s;
}
@media only screen and (min-width: 46.8em) {
  .cd-download {
    display: block;
  }
  .cd-download span {
    opacity: 0;
    visibility: hidden;
  }
}
@media only screen and (min-width: 50em) {
  .cd-download {
    right: 5%;
  }
}

main {
  width: 90%;
  max-width: 46.8em;
  margin: 0 auto;
  padding: 50px 0;
}
main > h1 {
  text-align: right;
  margin: 3em 0 0.5em 0;
}
main > h2 {
  text-align: right;
  margin: 0 0 3em 0;
}
@media only screen and (min-width: 46.8em) {
  main {
    padding-top: 80px;
  }
}
@media only screen and (min-width: 50em) {
  main {
    max-width: none;
    padding: 120px 0 50px;
  }
  main > h1 {
    position: fixed;
    top: 0;
    left: 50%;
    height: 80px;
    line-height: 80px;
    width: 400px;
    margin: 0 0 0 -200px;
    font-size: 2.6rem;
    z-index: 20;
  }
}

/*section {
	margin: 3em 0;
	@include clearfix;

	&:nth-of-type(1) h2::before {
		content: '1. ';
	}

	&:nth-of-type(2) h2::before {
		content: '2. ';
	}

	&:nth-of-type(3) h2::before {
		content: '3. ';
	}

	&:nth-of-type(4) h2::before {
		content: '4. ';
	}

	&:nth-of-type(5) h2::before {
		content: '5. ';
	}

	&:nth-of-type(6) h2::before {
		content: '6. ';
	}

    &:nth-of-type(7) h2::before {
		content: '7. ';
	}
      &:nth-of-type(8) h2::before {
		content: '8. ';
	}
      &:nth-of-type(9) h2::before {
		content: '9. ';
	}
    &:nth-of-type(10) h2::before {
		content: '10. ';
	}

	@include MQ(S) {
		margin: 3em 0 5em;
	}

	@include MQ(L) {
		@include column(.48);
		margin: 0 4% 4em 0;

		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}
}*/
/* xBranding section - basic style */
.cd-branding .cd-box {
  margin-bottom: 1em;
}
.cd-branding img {
  display: block;
  width: 100%;
}
.cd-branding ul:last-of-type {
  padding-top: 0.6em;
}
.cd-branding ul:last-of-type li {
  display: inline-block;
  margin-right: 1em;
}
.cd-branding ul:last-of-type li:nth-of-type(1) img {
  width: 90px;
  height: 90px;
  border-radius: 1em;
}
.cd-branding ul:last-of-type li:nth-of-type(2) img {
  width: 60px;
  height: 60px;
  border-radius: 0.6em;
}
.cd-branding ul:last-of-type li:nth-of-type(3) img {
  width: 32px;
  height: 32px;
  border-radius: 0.4em;
}
.cd-branding ul:last-of-type li:nth-of-type(4) img {
  width: 16px;
  height: 16px;
  border-radius: 0.2em;
}
@media only screen and (min-width: 24em) {
  .cd-branding .cd-box {
    width: 49%;
    float: left;
    margin: 0 2% 2em 0;
  }
  .cd-branding .cd-box:nth-of-type(2n) {
    margin-right: 0;
  }
  .cd-branding ul:last-of-type {
    clear: left;
  }
  .cd-branding ul:last-of-type li {
    margin-right: 3em;
  }
}

/* xColor section - basic style */
.cd-colors li {
  text-align: center;
  width: 48%;
  float: left;
  margin: 0 4% 1em 0;
}
.cd-colors li:nth-of-type(2n) {
  margin-right: 0;
}
.cd-colors .cd-color-swatch {
  position: relative;
  width: 100%;
  padding: 50% 0;
}
.cd-colors .cd-color-swatch::before, .cd-colors .cd-color-swatch::after {
  /* lighter and darker color shades of the same swatch */
  content: "";
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 20%;
}
.cd-colors .cd-color-swatch::before {
  left: 0;
}
.cd-colors .cd-color-swatch::after {
  right: 0;
}
.cd-colors b {
  display: block;
  padding: 0.6em 0;
}
.cd-colors li:nth-of-type(1) .cd-color-swatch {
  background: #89010F;
}
.cd-colors li:nth-of-type(1) .cd-color-swatch::before {
  background: #a20112;
}
.cd-colors li:nth-of-type(1) .cd-color-swatch::after {
  background: #70010c;
}
.cd-colors li:nth-of-type(2) .cd-color-swatch {
  background: #1f110b;
}
.cd-colors li:nth-of-type(2) .cd-color-swatch::before {
  background: #321b12;
}
.cd-colors li:nth-of-type(2) .cd-color-swatch::after {
  background: #0c0704;
}
.cd-colors li:nth-of-type(3) .cd-color-swatch {
  background: #412312;
}
.cd-colors li:nth-of-type(3) .cd-color-swatch::before {
  background: #552e18;
}
.cd-colors li:nth-of-type(3) .cd-color-swatch::after {
  background: #2d180c;
}
.cd-colors li:nth-of-type(4) .cd-color-swatch {
  background: #5F3916;
}
.cd-colors li:nth-of-type(4) .cd-color-swatch::before {
  background: #74451b;
}
.cd-colors li:nth-of-type(4) .cd-color-swatch::after {
  background: #4a2d11;
}
.cd-colors li:nth-of-type(5) .cd-color-swatch {
  background: #C7B299;
}
.cd-colors li:nth-of-type(5) .cd-color-swatch::before {
  background: #d0bea9;
}
.cd-colors li:nth-of-type(5) .cd-color-swatch::after {
  background: #bea689;
}
@media only screen and (min-width: 24em) {
  .cd-colors li {
    width: 19%;
    float: left;
    margin: 0 1.25% 1em 0;
  }
  .cd-colors li:nth-of-type(2n) {
    margin-right: 1.25%;
  }
  .cd-colors li:nth-of-type(5n) {
    margin-right: 0;
  }
}

@media only screen and (min-width: 24em) {
  .cd-wireframes .cd-box {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
  }
}
@media only screen and (min-width: 50em) {
  .cd-wireframes .cd-box {
    width: 300%;
  }
}
.cd-typography .cd-box,
.cd-buttons .cd-box,
.cd-icons .cd-box,
.cd-form .cd-box {
  padding: 1em;
}
@media only screen and (min-width: 24em) {
  .cd-typography .cd-box .cd-box,
.cd-buttons .cd-box .cd-box,
.cd-icons .cd-box .cd-box,
.cd-form .cd-box .cd-box {
    padding: 2em;
  }
}

/* xTypography section - basic style */
.cd-typography h1::before {
  content: "Aa - ";
  color: #1f110b;
}

/* -------------------------------- 

Smoke Ring

-------------------------------- */
body::after {
  content: "";
  display: block;
  position: absolute;
  border: 10px solid #1f110b;
  border-radius: 50%;
  width: 40px;
  height: 25px;
  background-color: transparent;
  top: 350px;
  left: 205px;
  -webkit-animation: animateSmoke 6s ease-out 10;
  animation: animateSmoke 6s linear 10;
  animation-delay: 2.5s;
}
@media only screen and (min-width: 46.8em) {
  body::after {
    top: 420px;
    left: 275px;
  }
}
@media only screen and (min-width: 50em) {
  body::after {
    top: 520px;
    left: 329px;
  }
}

/* -------------------------------- 

Smoke Circle

-------------------------------- */
body::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #1f110b;
  top: 350px;
  left: 205px;
  -webkit-animation: animateSmoke 6s ease-out 10;
  animation: animateSmoke 6s linear 10;
}
@media only screen and (min-width: 46.8em) {
  body::before {
    top: 420px;
    left: 275px;
  }
}
@media only screen and (min-width: 50em) {
  body::before {
    top: 520px;
    left: 329px;
  }
}

@-webkit-keyframes animateSmoke {
  100% {
    transform: translate(100px, -500px) scale(3.5);
    opacity: 0;
    filter: blur(5px);
  }
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    filter: blur(5px);
  }
}
@keyframes animateSmoke {
  100% {
    transform: translate(100px, -500px) scale(3.5);
    opacity: 0;
    filter: blur(5px);
  }
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    filter: blur(5px);
  }
}
/* -------------------------------- 

Foot Prints

-------------------------------- */
.explanation, .benefits {
  position: relative;
  overflow: hidden;
  background-image: url(assets/foot-print-02.svg), url(assets/foot-print-01.svg);
  background-position: bottom 15px right 10px, bottom 20px right 0px;
  background-size: 40px;
  background-repeat: no-repeat;
}

.explanation::before, .benefits::before {
  content: "" url(assets/foot-print-02.svg);
  display: block;
  position: absolute;
  opacity: 0;
  width: 40px;
  height: 25px;
  bottom: 15px;
  left: 10px;
  -webkit-animation: moveLeft 10s linear 10, fadeFeet 1.5s 50;
  animation: moveLeft 10s linear 10, fadeFeet 1.5s 50;
}

.explanation::after, .benefits::after {
  content: "" url(assets/foot-print-01.svg);
  display: block;
  position: absolute;
  opacity: 0;
  width: 40px;
  height: 25px;
  bottom: 25px;
  left: 25px;
  -webkit-animation: moveFeet 10s linear 10, fadeFeet 1.5s 1s 50;
  animation: moveFeet 10s linear 10, fadeFeet 1.5s 1s 50;
}

@-webkit-keyframes moveLeft {
  100% {
    transform: translate(0, -30em);
  }
  0% {
    transform: translate(0, 0);
  }
}
@keyframes moveLeft {
  100% {
    transform: translate(0, -30em);
  }
  0% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes moveFeet {
  100% {
    transform: translate(0, -30em);
  }
  0% {
    transform: translate(0, 0);
  }
}
@keyframes moveFeet {
  100% {
    transform: translate(0, -30em);
  }
  0% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes fadeFeet {
  100% {
    opacity: 0;
    filter: blur(2px);
  }
  0% {
    opacity: 1;
    filter: blur(1px);
  }
}
@keyframes fadeFeet {
  100% {
    opacity: 0;
    filter: blur(2px);
  }
  0% {
    opacity: 1;
    filter: blur(1px);
  }
}

/*# sourceMappingURL=style.css.map */
